1_State the null hypothesis
null hypothesis H0: μ0 = There's no significant difference in the mean etching rate for different levels of power.

2_State the alternate hypothesis
alternative hypothesis H1: μ = There is a significant difference in the mean etching rate for different levels of power.

3_What is the significance level
Significance Level α = 0.05

4_What are the degrees of freedom of model, error terms and total DoF
If there are n data points collected, then there are n−1 degrees of freedom
If there are m groups being compared, then there are k−1 degrees of freedom
If there are N total data points collected (groups’ samples) and m groups being compared, then there are N−k error degrees of freedom.

# Part 2

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
data = pd.read_excel('/Users/civicfab/Desktop/Documents/Ironhack/Unit7/labs/lab-inferential-statistics-anova/files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [8]:
data.columns= [data.columns[i].lower().replace(' ', '_') for i in range(len(data.columns)) ]
data.columns

Index(['power_', 'etching_rate'], dtype='object')

In [9]:
data.describe()

       etching_rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [10]:

data.groupby('power_').agg(np.mean)

        etching_rate
power_
160 W          5.792
180 W          6.238
200 W          8.318

Testing with ANOVA

In [11]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power_)', data=data).fit()
sm.stats.anova_lm(model)

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

The p-value is below level of significance, the null hypothesis is rejected

In [12]:
data.pivot(columns='power_').describe()

       etching_rate
power_        160 W     180 W     200 W
count      5.000000  5.000000  5.000000
mean       5.792000  6.238000  8.318000
std        0.319875  0.434304  0.669604
min        5.430000  5.660000  7.550000
25%        5.590000  5.980000  7.900000
50%        5.710000  6.240000  8.150000
75%        6.010000  6.600000  8.790000
max        6.220000  6.710000  9.200000

for 200 Wetching_rate the min, max, average and standard deviation are bigger than the rest, we can infer that it is the best.

In [13]:
from scipy.stats import ttest_ind

display_a = data[data['power_'] == '200 W']['etching_rate']

for display in data['power_'].unique():
    display_b = data[data['power_'] == display]['etching_rate']
    print(display, ttest_ind(display_a, display_b))

160 W Ttest_indResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05)
180 W Ttest_indResult(statistic=5.827496614588661, pvalue=0.0003926796476049085)
200 W Ttest_indResult(statistic=0.0, pvalue=1.0)

We can see that comparing display for with all the others will give a small p_value (rejecting the null hypothesis, which means they are not the same).
Checking the "statistic" values we can see that they are positive, which means that the more power has more etching rate.